body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}

a {
    color: #007BFF;
    text-decoration: none;
}
